.tablestyle
{
    width: 150vh;
    border-collapse: collapse;

}
.widthcol
{
    width: 150vh;
}
.tablestyle tr
{
    height:50px;
}
.tablestyle td
{

    height:5vh;
    border-bottom: 1px solid #d3e0e9;
    padding-left: 10px;
    width: auto;
}
.tablestyle th
{
    text-align: left;
    background: #d9edf7;
    height: 5vh;
    padding: 0px 10px;
}
.align
{
    display: flex;

}
.pad
{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
